<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KitchenMate"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".views.HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".views.RecipeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".views.RecipeRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".views.RecipeListFragment"
            android:exported="false" />
        <activity android:name=".views.CreateRecipeActivity"
            android:exported="false" />
        <activity android:name=".views.EditRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".views.LoginActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.RegisterActivity"
            android:exported="true"
            android:noHistory="true" />
    </application>

</manifest>